<h1>Books</h1>

<table>
  <thead>
    <tr><th>Title</th><th>Body</th></tr>
  </thead>
  <tbody>
    <tr></tr>
  </tbody>
</table>

<h2>New book</h2>
<%= form_with model:@newBook,local:true do |f| %>
  <p>title</p>
  <%= f.text_field :title %>
  <p>Body</p>
  <%= f.text_area :body %><br>
  <%= f.submit "Create Book" %>
<% end %>